body {
    margin: 48px 32px;
    background-color: red;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h1{
    color: #10B981;
    font-weight: 750;
    margin-bottom: 0px;
}

h1::first-line{
    color: white;
}

p{
    color: #D5D4D8;
}

.button-wrapper{
    border-bottom: 1px solid black;
    margin-bottom: 16px;;
}

button{
    margin: 16px 0;
    background-color: #10B981;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 8px;
}

.placeholder{
    background-color: #273549;
    width: 140px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    min-height: 16px;
    display: block;
}

#password-row{
    display: flex;
    justify-content: space-between;

}

.pass{
    margin: 0;
    color: #10B981;
}