body {
    margin: 0;
    background-color: #F4F4F4;
    color: #353535;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#header{
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin-bottom: 16px;
    padding: 8px 0px 16px;
}

h1{
    margin: 0px;
    color: #FFFFFF;
}

input{
    display: block;
    width: 120px;
    border: 2px solid #FFFFFF;
    background-color: #6943FF;
    color: white;
    height: 80px;
    border-radius: 8px;
    font-size: 40px;
    text-align: center;
    box-sizing: border-box;
}

button{
    display: block;
    width: 120px;
    color: #3D3D3D;
    background-color: white;
    height: 40px;
    border-radius: 8px;
    border: none;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    background-color: white;
    margin: 0 16px 16px;
    text-align: center;
    padding: 12px;
}

.card-title{
    color: #5A537B;
    font-weight: 600;
    font-size: 20px;   
}

.card-description{
    
}